<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>AWS</key>
	<dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>ap-northeast-2:492ef421-4fad-43d9-ac21-5f549c7acd65</string>
					<key>Region</key>
					<string>ap-northeast-2</string>
				</dict>
			</dict>
		</dict>
		<key>MobileHub</key>
		<dict>
			<key>ProjectClientId</key>
			<string>MobileHub fcaa397e-1a87-44ca-ae36-dbc5e538b33d aws-my-sample-app-ios-swift-v0.19</string>
		</dict>
		<key>PinpointAnalytics</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>AppId</key>
				<string>6e716976d2d04a0daf7525fb4ca03b41</string>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
		<key>PinpointTargeting</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ESTgames.mrglb.${PRODUCT_NAME}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.825002676307-etghc2c1aiqcq5m5duh457gir198mtbg</string>
				<string>fb188102531988315</string>
				<string>com.ESTgames.mrglb.${PRODUCT_NAME}</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>188102531988315</string>
	<key>FacebookDisplayName</key>
	<string>FFG-facebook</string>
	<key>MP</key>
	<dict>
		<key>app_id</key>
		<string>mr</string>
		<key>app_name</key>
		<string>노바워즈</string>
		<key>client_id</key>
		<string>1cbfa4da-f456-36cd-95f7-c17938d1b1b5.mp.estgames.com</string>
		<key>env</key>
		<string>live</string>
		<key>estapi</key>
		<string>https://m-linker.estgames.co.kr/sdk-start-api</string>
		<key>account_api</key>
		<string>https://api-account.estgames.co.kr</string>
		<key>region</key>
		<string>mr.global.ls</string>
		<key>secret</key>
		<string>435e1b2e970676e51826000ea3ef00fe0b43847866a7e95ff8903942f91a137c</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>${PRODUCT_NAME} Camera Usage</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>${PRODUCT_NAME} Microphone Usage</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>${PRODUCT_NAME} PhotoLibrary Usage</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>${PRODUCT_NAME} library Usage</string>
</dict>
</plist>
