<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>ap-northeast-2:f3e54d03-7439-43ae-a846-d4bfd7e9c980</string>
					<key>Region</key>
					<string>ap-northeast-2</string>
				</dict>
			</dict>
		</dict>
		<key>MobileHub</key>
		<dict>
			<key>ProjectClientId</key>
			<string>MobileHub fcaa397e-1a87-44ca-ae36-dbc5e538b33d aws-my-sample-app-ios-swift-v0.19</string>
		</dict>
		<key>PinpointAnalytics</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>AppId</key>
				<string>6e716976d2d04a0daf7525fb4ca03b41</string>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
		<key>PinpointTargeting</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-east-1</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ESTgames.mrglb.${PRODUCT_NAME}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.915170168211-65if7jlchf26id1vp2d2n975caau82ik</string>
				<string>fb1641813522553524</string>
				<string>com.ESTgames.mrglb.${PRODUCT_NAME}</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>1641813522553524</string>
	<key>FacebookDisplayName</key>
	<string>FFG-facebook</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MP</key>
	<dict>
		<key>app_id</key>
		<string>mr</string>
		<key>app_name</key>
		<string>노바워즈</string>
		<key>client_id</key>
		<string>b9b2b750-ea07-3808-a7b1-9f9ca4a9ffab.mp.estgames.com</string>
		<key>env</key>
		<string>stage</string>
		<key>estapi</key>
		<string>https://dvn2co5qnk.execute-api.ap-northeast-2.amazonaws.com/stage/start/mr</string>
		<key>region</key>
		<string>mr.global.ls</string>
		<key>secret</key>
		<string>15624467fd9b22c7f592de53ca92c0ed49a3ba1945a40116926c4edf1209f75c</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
