<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.567949206320-ak7je1tvvsgci3d5ppv16hnu7033gh36</string>
                <string>fb334877457088909</string>
			</array>
		</dict>
	</array>
    
<!--    <key>CFBundleURLTypes</key>-->
<!--    <array>-->
<!--        <dict>-->
<!--            <key>CFBundleURLSchemes</key>-->
<!--            <array>-->
<!--                <string>fb334877457088909</string>-->
<!--            </array>-->
<!--        </dict>-->
<!--    </array>-->
<!--    <key>FacebookAppID</key>-->
<!--    <string>334877457088909</string>-->
<!--    <key>FacebookDisplayName</key>-->
<!--    <string>IosTest</string>-->
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>334877457088909</string>
	<key>FacebookDisplayName</key>
	<string>IosTest</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MP</key>
	<dict>
		<key>account_api</key>
		<string>https://api-account.estgames.co.kr</string>
		<key>app_id</key>
		<string>mr</string>
		<key>app_name</key>
		<string>노바워즈</string>
		<key>client_id</key>
		<string>1cbfa4da-f456-36cd-95f7-c17938d1b1b5.mp.estgames.com</string>
		<key>env</key>
		<string>live</string>
		<key>estapi</key>
		<string>https://m-linker.estgames.co.kr</string>
		<key>region</key>
		<string>mr.global.ls</string>
		<key>secret</key>
		<string>435e1b2e970676e51826000ea3ef00fe0b43847866a7e95ff8903942f91a137c</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
